In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error
from sklearn.impute import KNNImputer
import numpy as np

C:\Users\Aniruth\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
df=pd.read_csv('weather_report.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1742 entries, 0 to 1741
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PM2.5   1742 non-null   object
 1   PM10    1742 non-null   object
 2   NO2     1742 non-null   object
 3   NH3     1742 non-null   object
 4   SO2     1742 non-null   object
 5   CO      1742 non-null   object
 6   Ozone   1742 non-null   object
dtypes: object(7)
memory usage: 95.4+ KB

In [5]:
def f(x):return None if x=='None' else x

In [6]:
l=df.columns

In [7]:
for i in df.columns:df[i]=df[i].apply(f)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1742 entries, 0 to 1741
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PM2.5   1650 non-null   object
 1   PM10    906 non-null    object
 2   NO2     1693 non-null   object
 3   NH3     898 non-null    object
 4   SO2     1692 non-null   object
 5   CO      1702 non-null   object
 6   Ozone   1686 non-null   object
dtypes: object(7)
memory usage: 95.4+ KB

In [9]:
df.corr()

Empty DataFrame
Columns: []
Index: []

In [10]:
x=df[df[l[0]].notnull()]

In [11]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1650 entries, 0 to 1741
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PM2.5   1650 non-null   object
 1   PM10    869 non-null    object
 2   NO2     1636 non-null   object
 3   NH3     854 non-null    object
 4   SO2     1640 non-null   object
 5   CO      1650 non-null   object
 6   Ozone   1628 non-null   object
dtypes: object(7)
memory usage: 103.1+ KB

In [12]:
x.head(10)

   PM2.5  PM10    NO2   NH3    SO2    CO  Ozone
0  99.25  None   17.1  None  27.88  0.56  52.69
1  55.64  None  17.21  None  20.45  0.98  38.29
2  71.49  None  17.81  None  22.31  1.09  34.55
3  75.06  None  17.67  None  15.82  0.98   32.5
4  73.29  None  18.42  None  13.92  1.23  38.51
5   67.1  None  16.79  None  11.69  0.76  35.15
6  56.17  None  17.27  None  15.21  0.86  23.03
7  66.49  None  18.43  None  26.92  0.95  27.76
8  77.11  None  16.32  None   6.89  0.95  38.19
9  66.07  None  17.49  None   7.45  0.91  28.64

In [13]:
index_column = x.index.tolist()

In [14]:
n=[i for i in index_column if i%2==0]
n

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 820,
 822,
 824,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998,
 1000,
 1002,
 1004,
 1006,
 1008,
 1010,
 1012,
 1014,
 1022,
 1024,
 1026,
 1028,
 1030,
 1032,
 1034,
 1036,
 1038,
 1040,
 1042,
 1044,
 1046,
 1048,
 1050,
 1052,
 1054,
 1056,
 1058,
 1060,
 1062,
 1064,
 1066,
 1068,
 1070,
 1072,
 1074,
 1076,
 1078,
 1080,
 1082,
 1084,
 1086,
 1088,
 1090,
 1092,
 1094,
 1096,
 1098,
 1100,
 1102,
 1104,
 1106,
 1108,
 1110,
 1112,
 1114,
 1116,
 1118,
 1120,
 1122,
 1124,
 1128,
 1130,
 1132,
 1134,
 1136,
 1138,
 1140,
 1142,
 1144,
 1146,
 1148,
 1150,
 1152,
 1154,
 1156,
 1158,
 1160,
 1162,
 1164,
 1166,
 1168,
 1170,
 1172,
 1174,
 1176,
 1178,
 1180,
 1182,
 1184,
 1186,
 1188,
 1190,
 1194,
 1196,
 1206,
 1208,
 1210,
 1212,
 1214,
 1216,
 1218,
 1220,
 1222,
 1224,
 1226,
 1228,
 1230,
 1232,
 1234,
 1236,
 1238,
 1240,
 1242,
 1246,
 1248,
 1250,
 1252,
 1254,
 1256,
 1258,
 1260,
 1262,
 1264,
 1266,
 1268,
 1270,
 1272,
 1274,
 1276,
 1278,
 1280,
 1282,
 1284,
 1286,
 1288,
 1290,
 1292,
 1294,
 1296,
 1298,
 1300,
 1302,
 1304,
 1306,
 1308,
 1310,
 1312,
 1314,
 1316,
 1318,
 1320,
 1322,
 1324,
 1326,
 1328,
 1330,
 1332,
 1334,
 1336,
 1338,
 1340,
 1342,
 1344,
 1346,
 1348,
 1350,
 1352,
 1354,
 1356,
 1358,
 1360,
 1362,
 1364,
 1366,
 1368,
 1370,
 1372,
 1374,
 1376,
 1378,
 1380,
 1382,
 1384,
 1386,
 1388,
 1390,
 1392,
 1394,
 1396,
 1398,
 1400,
 1402,
 1404,
 1406,
 1408,
 1410,
 1412,
 1414,
 1416,
 1418,
 1420,
 1422,
 1424,
 1426,
 1428,
 1430,
 1432,
 1434,
 1436,
 1438,
 1440,
 1442,
 1444,
 1446,
 1448,
 1450,
 1452,
 1454,
 1456,
 1458,
 1460,
 1462,
 1464,
 1466,
 1468,
 1470,
 1472,
 1474,
 1476,
 1478,
 1480,
 1482,
 1484,
 1486,
 1488,
 1490,
 1492,
 1494,
 1496,
 1498,
 1500,
 1502,
 1504,
 1506,
 1508,
 1510,
 1512,
 1514,
 1516,
 1518,
 1520,
 1522,
 1524,
 1526,
 1528,
 1530,
 1532,
 1534,
 1536,
 1538,
 1540,
 1542,
 1544,
 1546,
 1548,
 1556,
 1558,
 1560,
 1562,
 1564,
 1566,
 1568,
 1570,
 1572,
 1574,
 1576,
 1578,
 1580,
 1582,
 1584,
 1586,
 1588,
 1596,
 1598,
 1600,
 1602,
 1604,
 1606,
 1608,
 1610,
 1612,
 1614,
 1616,
 1618,
 1620,
 1622,
 1624,
 1626,
 1628,
 1630,
 1632,
 1634,
 1636,
 1638,
 1640,
 1642,
 1644,
 1646,
 1648,
 1650,
 1652,
 1654,
 1656,
 1658,
 1660,
 1662,
 1664,
 1666,
 1668,
 1670,
 1672,
 1674,
 1676,
 1678,
 1680,
 1682,
 1684,
 1686,
 1688,
 1690,
 1692,
 1716,
 1726,
 1728,
 1730,
 1732,
 1734,
 1736,
 1738,
 1740]

In [15]:
try:
    l=[df['PM2.5'].iloc[i] for i in n]
except IndexError:
    print(i)

In [16]:
x_new=pd.DataFrame(l,n,['PM2.5'])

In [19]:
x_new

      PM2.5
0     99.25
2     71.49
4     73.29
6     56.17
8     77.11
...     ...
1732  13.05
1734   9.25
1736  14.35
1738  12.82
1740  17.53

[826 rows x 1 columns]

In [20]:
x_i=x['PM2.5'].replace(l,None)

In [21]:
x['PM2.5']=x_i

C:\Users\Aniruth\AppData\Local\Temp\ipykernel_6480\4091298445.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['PM2.5']=x_i

In [22]:
x

      PM2.5   PM10    NO2    NH3    SO2    CO  Ozone
0      None   None   17.1   None  27.88  0.56  52.69
1     55.64   None  17.21   None  20.45  0.98  38.29
2      None   None  17.81   None  22.31  1.09  34.55
3     75.06   None  17.67   None  15.82  0.98   32.5
4      None   None  18.42   None  13.92  1.23  38.51
...     ...    ...    ...    ...    ...   ...    ...
1737  16.01  41.53   72.4  16.07    3.9   0.8  12.13
1738   None   35.7   70.8  12.95   4.69  0.82  12.29
1739  14.93  39.56  87.74  14.82   4.45  1.08  12.29
1740   None  44.32  54.21  17.24   4.88  1.06  10.39
1741  16.87  43.11  37.91  19.79   2.07  1.61    4.6

[1650 rows x 7 columns]

In [23]:
k=KNNImputer(n_neighbors=2)

In [24]:
x_pred=k.fit_transform(x)

In [25]:
df1=pd.DataFrame(x_pred,x.index,x.columns)

In [26]:
df1

       PM2.5     PM10    NO2     NH3    SO2    CO  Ozone
0     37.815   73.180  17.10  19.395  27.88  0.56  52.69
1     55.640   55.340  17.21  15.090  20.45  0.98  38.29
2     46.250   54.995  17.81  14.910  22.31  1.09  34.55
3     75.060   77.405  17.67  20.175  15.82  0.98  32.50
4     38.340  106.380  18.42  17.885  13.92  1.23  38.51
...      ...      ...    ...     ...    ...   ...    ...
1737  16.010   41.530  72.40  16.070   3.90  0.80  12.13
1738  13.600   35.700  70.80  12.950   4.69  0.82  12.29
1739  14.930   39.560  87.74  14.820   4.45  1.08  12.29
1740  21.430   44.320  54.21  17.240   4.88  1.06  10.39
1741  16.870   43.110  37.91  19.790   2.07  1.61   4.60

[1650 rows x 7 columns]

In [27]:
r=df1[df1.index%2==0]['PM2.5']
r

0       37.815
2       46.250
4       38.340
6       41.355
8       68.620
         ...
1732    17.220
1734    13.665
1736    15.955
1738    13.600
1740    21.430
Name: PM2.5, Length: 826, dtype: float64

In [28]:
r.tolist()

[37.815,
 46.25,
 38.34,
 41.355000000000004,
 68.62,
 20.12,
 41.355000000000004,
 62.214999999999996,
 57.18000000000001,
 40.08,
 38.315,
 38.855000000000004,
 19.625,
 14.27,
 21.785,
 64.905,
 47.535000000000004,
 35.78,
 31.83,
 46.31,
 35.37,
 21.755000000000003,
 41.05,
 53.135,
 36.53,
 31.560000000000002,
 46.31,
 47.68,
 74.305,
 47.42,
 42.2,
 31.66,
 121.525,
 46.335,
 14.77,
 16.145,
 35.02,
 43.495,
 35.625,
 29.705000000000002,
 32.47,
 32.425,
 48.205,
 28.325000000000003,
 50.555,
 24.22,
 24.355,
 15.335,
 23.43,
 25.12,
 20.205,
 38.505,
 32.425,
 36.79,
 45.870000000000005,
 32.585,
 25.630000000000003,
 42.754999999999995,
 12.125,
 25.630000000000003,
 29.305,
 29.04,
 26.05,
 18.6,
 25.365000000000002,
 16.865,
 21.68,
 20.555,
 27.82,
 18.54,
 16.865,
 27.82,
 20.745,
 18.54,
 18.54,
 43.74,
 56.435,
 18.54,
 27.01,
 79.18,
 27.745,
 23.07,
 19.58,
 25.085,
 25.395,
 30.19,
 34.265,
 37.31,
 17.16,
 23.07,
 30.905,
 18.54,
 27.715,
 71.075,
 40.65,
 43.97,
 30.509999999999998,
 36.614999999999995,
 34.620000000000005,
 34.865,
 18.54,
 20.72,
 18.54,
 44.93,
 43.92,
 40.595,
 31.255000000000003,
 21.075000000000003,
 32.145,
 27.34,
 44.205,
 41.43,
 16.545,
 56.41,
 45.144999999999996,
 41.01,
 24.665,
 36.724999999999994,
 24.4,
 29.04,
 16.54,
 26.14,
 24.665,
 69.32,
 50.765,
 63.345,
 36.214999999999996,
 96.31,
 44.205,
 29.17,
 25.12,
 43.92,
 20.05,
 35.129999999999995,
 20.740000000000002,
 50.06,
 46.45,
 41.76,
 44.3,
 38.17,
 55.19,
 38.265,
 50.06,
 40.865,
 22.945,
 37.825,
 36.18,
 18.54,
 38.315,
 40.325,
 30.365,
 33.155,
 24.735,
 30.884999999999998,
 44.735,
 18.54,
 38.42,
 23.345,
 33.410000000000004,
 27.16,
 57.18000000000001,
 38.2,
 59.775,
 45.29,
 50.655,
 39.455,
 43.92,
 83.535,
 47.129999999999995,
 48.285,
 45.980000000000004,
 26.71,
 30.700000000000003,
 43.97,
 34.865,
 37.815,
 44.72,
 73.415,
 51.64,
 44.235,
 68.825,
 43.74,
 26.05,
 19.515,
 47.129999999999995,
 48.285,
 50.555,
 50.555,
 61.855000000000004,
 68.845,
 61.555,
 52.53,
 26.475,
 26.05,
 31.955,
 50.06,
 52.575,
 29.705000000000002,
 43.74,
 23.295,
 18.54,
 60.28999999999999,
 26.544999999999998,
 69.05,
 40.325,
 28.325000000000003,
 23.310000000000002,
 14.73,
 18.285,
 5.1899999999999995,
 45.754999999999995,
 35.67,
 7.76,
 14.040000000000001,
 12.535,
 25.16,
 52.449999999999996,
 23.73,
 23.785,
 25.375,
 4.735,
 36.53,
 34.865,
 16.545,
 40.125,
 40.125,
 18.200000000000003,
 11.21,
 8.16,
 9.44,
 14.73,
 38.09,
 27.4,
 14.92,
 11.825000000000001,
 29.155,
 16.43,
 10.86,
 10.35,
 29.04,
 12.205,
 41.365,
 11.825000000000001,
 14.375,
 35.685,
 11.24,
 31.915,
 37.699999999999996,
 55.19,
 10.86,
 15.725,
 17.155,
 45.474999999999994,
 57.33,
 26.05,
 37.43,
 64.645,
 32.629999999999995,
 23.435000000000002,
 25.385,
 25.385,
 23.69,
 26.035,
 26.05,
 26.05,
 42.165000000000006,
 26.05,
 25.14,
 19.455,
 26.05,
 23.880000000000003,
 25.14,
 26.05,
 15.7,
 12.535,
 27.08,
 32.05,
 21.03,
 49.855000000000004,
 12.65,
 26.36,
 19.520000000000003,
 22.26,
 23.16,
 26.05,
 17.384999999999998,
 26.36,
 24.744999999999997,
 43.195,
 33.065,
 43.195,
 27.615000000000002,
 35.215,
 18.085,
 6.885,
 52.515,
 29.04,
 37.699999999999996,
 16.68,
 37.43,
 4.735,
 27.4,
 27.4,
 23.43,
 18.6,
 26.05,
 18.54,
 28.94,
 27.16,
 34.62,
 16.05,
 32.39,
 30.475,
 26.05,
 23.73,
 28.93,
 23.585,
 20.485,
 37.89,
 25.14,
 39.71,
 34.96,
 41.295,
 37.89,
 41.295,
 33.7,
 36.714999999999996,
 41.295,
 18.54,
 18.695,
 38.755,
 45.69,
 45.61,
 21.1,
 21.2,
 34.135000000000005,
 34.135000000000005,
 43.7,
 27.695,
 38.120000000000005,
 28.585,
 45.474999999999994,
 45.474999999999994,
 13.045,
 25.64,
 28.895000000000003,
 12.555,
 31.68,
 42.315,
 44.08,
 22.91,
 27.705,
 20.43,
 35.195,
 20.43,
 35.870000000000005,
 20.43,
 38.755,
 39.980000000000004,
 36.585,
 10.27,
 67.67500000000001,
 67.67500000000001,
 30.244999999999997,
 40.595,
 27.705,
 40.595,
 40.595,
 28.375,
 35.37,
 35.64,
 20.855,
 33.475,
 29.6,
 20.855,
 23.555,
 21.2,
 21.2,
 21.2,
 29.6,
 20.855,
 22.91,
 53.805,
 19.064999999999998,
 37.695,
 47.68000000000001,
 47.68000000000001,
 59.245000000000005,
 59.245000000000005,
 24.92,
 24.92,
 47.68000000000001,
 59.245000000000005,
 36.45,
 36.45,
 36.45,
 45.09,
 36.45,
 24.78,
 24.78,
 23.675,
 59.245000000000005,
 59.245000000000005,
 17.835,
 25.314999999999998,
 59.245000000000005,
 58.585,
 54.519999999999996,
 54.745,
 32.400000000000006,
 58.585,
 24.75,
 13.254999999999999,
 17.015,
 13.99,
 17.015,
 29.94,
 9.57,
 15.945,
 27.4,
 32.585,
 35.235,
 26.68,
 41.05,
 21.89,
 30.095,
 23.825,
 19.47,
 50.305,
 15.575,
 26.299999999999997,
 26.299999999999997,
 28.825,
 13.275,
 24.73,
 38.02,
 33.125,
 37.9,
 24.475,
 61.395,
 14.245000000000001,
 17.130000000000003,
 30.17,
 19.305,
 18.425,
 44.595,
 35.515,
 13.725,
 19.395,
 20.925,
 45.61,
 28.375,
 20.925,
 18.585,
 51.30500000000001,
 30.71,
 30.355,
 26.345,
 24.435000000000002,
 26.345,
 28.055,
 29.515,
 25.814999999999998,
 35.895,
 35.870000000000005,
 35.870000000000005,
 17.75,
 25.125,
 24.92,
 38.85,
 27.035,
 30.700000000000003,
 21.665,
 34.005,
 16.745,
 49.195,
 50.05,
 25.81,
 25.81,
 48.80499999999999,
 25.46,
 27.770000000000003,
 29.465000000000003,
 48.80499999999999,
 19.885,
 28.525,
 24.045,
 35.88,
 29.34,
 26.775000000000002,
 42.48,
 46.385,
 44.084999999999994,
 29.465000000000003,
 29.465000000000003,
 34.075,
 16.799999999999997,
 54.599999999999994,
 27.770000000000003,
 109.10999999999999,
 51.0,
 29.885,
 98.205,
 31.535000000000004,
 43.7,
 27.770000000000003,
 30.615000000000002,
 24.415,
 59.245000000000005,
 22.6,
 13.665,
 18.700000000000003,
 27.994999999999997,
 105.19,
 105.19,
 109.885,
 41.355000000000004,
 39.505,
 30.73,
 16.745,
 22.825,
 35.5,
 40.375,
 44.78,
 62.345,
 73.205,
 60.635,
 58.12,
 68.115,
 39.805,
 62.345,
 31.48,
 49.849999999999994,
 57.099999999999994,
 21.785,
 20.53,
 21.71,
 32.400000000000006,
 14.125,
 30.035,
 45.64,
 45.64,
 39.805,
 42.08,
 25.08,
 54.62,
 51.47,
 36.32,
 39.805,
 67.19,
 39.505,
 30.055,
 45.14,
 45.14,
 24.32,
 34.69,
 30.125,
 29.27,
 38.615,
 43.575,
 71.08,
 38.965,
 33.445,
 24.65,
 55.175,
 71.08,
 34.69,
 16.92,
 29.759999999999998,
 38.555,
 21.464999999999996,
 34.605000000000004,
 16.245,
 29.705,
 29.705,
 27.24,
 22.509999999999998,
 29.885,
 23.78,
 30.34,
 20.645,
 16.52,
 19.105,
 30.884999999999998,
 27.924999999999997,
 34.215,
 26.12,
 29.465000000000003,
 16.435,
 18.65,
 35.92,
 44.79,
 71.08,
 61.395,
 30.884999999999998,
 32.355000000000004,
 27.924999999999997,
 29.815,
 33.65,
 117.66,
 38.235,
 23.435000000000002,
 22.380000000000003,
 33.805,
 38.855000000000004,
 116.58000000000001,
 30.21,
 28.705,
 30.884999999999998,
 27.770000000000003,
 42.685,
 14.98,
 13.03,
 30.34,
 24.08,
 61.05499999999999,
 20.625,
 12.67,
 4.04,
 50.864999999999995,
 54.599999999999994,
 14.48,
 39.025,
 27.259999999999998,
 31.424999999999997,
 25.12,
 50.36,
 24.810000000000002,
 26.05,
 23.479999999999997,
 24.744999999999997,
 31.424999999999997,
 49.31999999999999,
 36.65,
 20.43,
 34.62,
 29.81,
 21.22,
 29.465000000000003,
 38.205,
 24.735,
 12.525,
 54.29,
 40.004999999999995,
 48.504999999999995,
 67.99,
 68.845,
 64.645,
 77.71,
 36.815,
 49.165,
 21.485,
 21.485,
 43.980000000000004,
 81.06,
 66.47,
 51.44,
 43.97,
 47.125,
 53.14,
 41.325,
 23.259999999999998,
 54.375,
 41.82,
 69.5,
 43.7,
 52.89,
 52.449999999999996,
 24.275,
 39.85,
 41.575,
 73.415,
 92.41499999999999,
 84.02,
 103.24499999999999,
 72.9,
 26.27,
 22.945,
 43.305,
 26.345,
 16.405,
 36.845,
 26.525,
 28.035,
 69.845,
 8.48,
 19.955,
 62.55,
 93.83500000000001,
 76.23,
 84.02,
 58.525,
 79.39,
 100.215,
 98.21,
 67.805,
 91.57499999999999,
 90.84,
 91.57499999999999,
 91.57499999999999,
 67.805,
 86.185,
 119.17,
 35.975,
 42.785,
 50.97,
 59.129999999999995,
 67.805,
 81.88,
 72.79,
 119.17,
 89.69,
 76.98500000000001,
 59.09,
 59.695,
 73.44999999999999,
 93.305,
 89.72,
 117.66,
 158.55,
 107.145,
 71.35499999999999,
 81.66,
 69.98,
 72.375,
 71.63499999999999,
 78.495,
 92.5,
 100.215,
 92.5,
 80.075,
 49.305,
 77.43,
 76.015,
 69.91499999999999,
 67.555,
 65.775,
 92.5,
 63.805,
 66.18,
 67.555,
 78.65,
 57.364999999999995,
 76.015,
 42.495000000000005,
 30.045,
 30.045,
 22.259999999999998,
 21.525,
 22.955,
 29.155,
 24.009999999999998,
 34.155,
 42.795,
 58.205,
 58.205,
 52.205,
 52.205,
 52.205,
 44.07,
 30.335,
 50.81,
 41.1,
 34.965,
 15.72,
 30.375,
 37.985,
 41.1,
 52.205,
 29.705000000000002,
 49.285,
 41.575,
 47.89,
 69.15,
 47.095,
 49.334999999999994,
 69.15,
 55.295,
 89.92500000000001,
 75.285,
 41.33,
 31.955,
 39.489999999999995,
 51.885000000000005,
 49.06,
 45.435,
 39.575,
 48.275,
 55.855000000000004,
 41.83,
 45.435,
 39.575,
 39.864999999999995,
 36.224999999999994,
 52.33,
 31.11,
 37.045,
 50.5,
 47.42,
 51.325,
 52.33,
 57.480000000000004,
 31.11,
 42.05,
 38.575,
 43.9,
 31.955,
 51.325,
 47.095,
 77.71,
 44.2,
 49.175,
 49.175,
 54.29,
 54.29,
 42.12,
 49.175,
 23.259999999999998,
 27.465,
 13.100000000000001,
 14.905000000000001,
 17.22,
 13.665,
 15.955000000000002,
 13.600000000000001,
 21.43]

In [29]:
rmse = mean_squared_error(l,r, squared = False)

C:\Users\Aniruth\anaconda3\lib\site-packages\sklearn\metrics\_regression.py:95: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  y_true = check_array(y_true, ensure_2d=False, dtype=dtype)

In [30]:
rmse
#45.74-12 neighbors
#32.98-7 neighbors
#29.15-5 neighbors
#42.75-4 neighbors
#35.16-3 neighbors
#35.28-2 neighbors

35.28308546478404